/* 谷歌字体引用 */
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800);


body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #747e88
  }

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

ul,ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header_navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: all .3s ease-out 0s; 
    transition: all .3s ease-out 0s;
    border-bottom: 2px solid rgba(255, 255, 255, .21);
    background-color:#747e88;
}

.sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .05);
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
  }

.sticky .navbar {
    padding: 1px;
    background-color:#4383c4;
  }

  /* 响应式到导航栏布局 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* background-color: #a83f3f; */
    z-index: 9;
    -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .1);
    padding: 5px 12px
}
}
  
@media (max-width: 767px) {
.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #24c486;
    z-index: 9;
    -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .1);
    padding: 5px 12px
}
}

.navbar-nav .nav-item {
    position: relative
}

/* 导航栏字体 */
.navbar .nav-item a{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all .3 ease-out 0s;
    transition: all .3 ease-out 0s ;
    padding: 30px 15px;
    position: relative;
}

.navbar-nav .nav-item a::before {
position: absolute;
content: '';
bottom: -2px;
left: 0;
width: 0;
height: 3px;
background-color: #eec41e;
-webkit-transition: all .3s ease-out 0s;
transition: all .3s ease-out 0s
}

/* @media only screen and (min-width: 768px) and (max-width: 991px) {
.navbar-nav .nav-item a::before {
    display: none
}
} */

/* @media (max-width: 767px) {
.navbar-nav .nav-item a::before {
    display: none
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
    color: #222
}
}
  
@media (max-width: 767px) {
.navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
    color: #222
}
} */

.navbar-nav .nav-item.active > a::before, .navbar-nav .nav-item:hover > a::before {
    width: 100%
  }
































  .navbar-toggler {
    padding: 0
  }
  
  .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
  }
  
  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px
  }
  
  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0
  }
  
  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px
  }